body {
    margin: 100px;
    background-color: chartreuse;
}
main {
    display: grid;
    grid-template-columns:200px 200px;
    grid-template-rows: auto;
    grid-gap: 25px;
    justify-content: center;
}
 
main >section p {
    font-size: large;
    font-weight: bolder;
    color: black;
}

main > section img {
    width: 80%;
    height: auto;
    border-radius: 25px;
    box-shadow: 5px 10px 20px rgba(1, 31, 8, 0.877);
}